.Select-control {
    background-color: #626262;
    border-color: #000000;
    color: #b4b4b4;
}

.Select-menu-outer {
    background-color: #626262;
    border-color: #000000;
    color: #b4b4b4;
}

.Select-value-label {
    color: #b4b4b4;
}

h4 {
    color: #b4b4b4;
}

h5 {
    color: #b4b4b4;
}

h3 {
    color: #b4b4b4;
}


